<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
	<title>Welcome to Spring MVC Blog</title>
</head>
<body>	
<!-- The header coming from layout -->
<header th:replace="layout::site-header"></header>
	
	<div class="container">
		<div class="hidden-xs text-center"><img width="400px" th:src="@{/img/sad-face.jpg}" src="../../public/img/sad-face.jpg"/></div>
			<div class="text-center">
			<div><h2>It's not you, it's us, please give us some time and try again</h2></div>
		</div>
	</div><!-- ./ container -->

<!-- The footer coming from layout -->	
<footer th:replace="layout::site-footer"></footer>
</body>
</html>